* {
    /* Свойства для сброса начальных стилей элементов */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
color: #303030
}

header {
    /* Стили для хедера */
    background-color: #2965F1;
    height: 70px;
    width: 1440px;
    padding: 23px 0;
    
    
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    /* Стили для первой секции */
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    min-width: 1024px;
}

.main-title {
    /* Стили для заголовка в первой секции */
font-weight: 700;
font-size: 48px;
color: #303030;
margin-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */
    font-weight: 400;
font-size: 18px;
color: #303030;
}

.main-image {
    /* Стили для изображения в первой секции */
    
max-width: 715px;

}


.about-section {
    /* Стили для второй секции */
    background-color: #fafaff;
    padding: 100px 0px;
    
}

select {
    /* Стили для выпадающего списка */
     border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    padding: 8px 12px;
    font-weight: 400;
    font-size: 16px;
    appearance: none; 
    background-image: url("./ep_arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 12px top 50%;
}

.section-title {
    /* Стили для заголовков во второй секции */ 
    margin-bottom: 25px;
    font-weight: 700;
font-size: 24px;
color: #303030;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    padding: 0px 20px;
    font-weight: 400;
font-size: 16px;
color: #303030;
    list-style-image:url("./assets/images/Vector.png");

}

.books-list {
    /* Стили для нумерованного списка во второй секции */
padding: 0px 20px;
font-weight: 400;
font-size: 16px;
color: #303030;

}

.label {
    /* Стили для подписей чекбоксов */
accent-color: #2965F1
    font-weight: 400;
font-size: 16px;
color: #303030;
}

.text-field {
    /* Стили для односточного поля ввода текста */
border-radius: 5px;
border-color: rgba(48, 48, 48, 0.2) ;
padding-left: 10px;
    font-weight: 400;
font-size: 16px;
color: rgba(48, 48, 48, 0.2);
width: 330px;
height: 36px;
color: rgba(48, 48, 48, 0.2);
}

.btn {
    /*Свойства для кнопки*/
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background-color: #2965f1;
    /* Стили для кнопки */
font-weight: 700;
font-size: 14px;
color: #fff;


}

.line {
    /* Стили для линии */
    border: 1px solid rgba(48, 48, 48, 0.3);
width: 1440px;
height: 0px;
    margin-top: 60px;
    margin-bottom: 60px;
}

table {
    /* Стили для таблицы */
border-collapse: collapse;
 width: 300px;
height: 196px;
text-align: center;   

font-weight: 400;
font-size: 14px;
color: #303030;
}

th, td {
    /* Стили для ячеек таблицы */
    padding: 12px 15px;
}

footer {
    /* Стили для футера */
    width: 1440px;
height: 70px;
    background-color: rgba(163, 167, 255, 0.3);
    padding-top: 26px;
    padding-bottom: 26px;

}

.footer-link {
    /* Стили для футера */
    font-weight: 400;
font-size: 14px;
color: #2965f1;
text-decoration: none;
}