* {
    /* Свойства для сброса начальных стилей элементов */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
color: #303030
}

header {
    /* Стили для хедера */
    background-color: #2965F1;
    height: 70px;
    width: 1440px;
    padding: 23px 0;
    
    
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    /* Стили для первой секции */
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    min-width: 1024px;
}

.main-title {
    /* Стили для заголовка в первой секции */
font-weight: 700;
font-size: 48px;
color: #303030;
margin-bottom: 30px;
}

.main-text {
    /* Стили для текста в первой секции */
    font-weight: 400;
font-size: 18px;
color: #303030;
}

.main-image {
    /* Стили для изображения в первой секции */
width: 715px;
height: 508px;
max-width: 715;
}


.about-section {
    /* Стили для второй секции */
    background-color: #fafaff;
    padding-top: 60px;
    padding-bottom: 60px;
}

select {
    /* Стили для выпадающего списка */
    padding-top: 1px;
    padding-bottom: 1px;
    width: 150px;
height: 36px;
font-weight: 400;
font-size: 16px;
color: #303030;
<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.998 5.326L8.00001 10.198L3.00202 5.326C2.91272 5.23877 2.79284 5.18993 2.66801 5.18993C2.54319 5.18993 2.42331 5.23877 2.33402 5.326C2.29078 5.36836 2.25643 5.41893 2.23298 5.47474C2.20953 5.53054 2.19745 5.59047 2.19745 5.651C2.19745 5.71153 2.20953 5.77146 2.23298 5.82726C2.25643 5.88307 2.29078 5.93364 2.33402 5.976L7.65101 11.16C7.74439 11.251 7.86962 11.302 8.00001 11.302C8.13041 11.302 8.25564 11.251 8.34901 11.16L13.666 5.977C13.7096 5.9346 13.7442 5.88391 13.7678 5.82792C13.7914 5.77193 13.8036 5.71177 13.8036 5.651C13.8036 5.59023 13.7914 5.53007 13.7678 5.47408C13.7442 5.41809 13.7096 5.3674 13.666 5.325C13.5767 5.23777 13.4568 5.18893 13.332 5.18893C13.2072 5.18893 13.0873 5.23777 12.998 5.325V5.326Z" fill="#303030" fill-opacity="0.8" />
</svg>
background-color: rgba(255, 255, 255, 0);
<svg width="1291" height="883" viewBox="0 0 1291 883" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0H1440V883H0V0Z" fill="white" />
</svg>

}

.section-title {
    /* Стили для заголовков во второй секции */ 
    margin-bottom: 30px;
    font-weight: 700;
font-size: 24px;
color: #303030;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    padding-left: 30px;
    font-weight: 400;
font-size: 16px;
color: #303030;
    list-style-image:url("./assets/images/Vector.png");

}

.books-list {
    /* Стили для нумерованного списка во второй секции */
padding-left: 20px;
font-weight: 400;
font-size: 16px;
color: #303030;

}

.label {
    /* Стили для подписей чекбоксов */
accent-color: #2965F1
    font-weight: 400;
font-size: 16px;
color: #303030;
}

.text-field {
    /* Стили для односточного поля ввода текста */
border-radius: 5px;
border-color: rgba(48, 48, 48, 0.2) ;
padding-left: 10px;
    font-weight: 400;
font-size: 16px;
color: rgba(48, 48, 48, 0.2);
width: 330px;
height: 36px;
color: rgba(48, 48, 48, 0.2);
}

.btn {
    /*Свойства для кнопки*/
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background-color: #2965f1;
    /* Стили для кнопки */
font-weight: 700;
font-size: 14px;
color: #fff;


}

.line {
    /* Стили для линии */
    border: 1px solid rgba(48, 48, 48, 0.3);
width: 1440px;
height: 0px;
    margin-top: 60px;
    margin-bottom: 60px;
}

table {
    /* Стили для таблицы */
border-collapse: collapse;
 width: 300px;
height: 196px;
text-align: center;   

font-weight: 400;
font-size: 14px;
color: #303030;
}

th, td {
    /* Стили для ячеек таблицы */
    padding: 2px 0;
}

footer {
    /* Стили для футера */
    width: 1440px;
height: 70px;
    background-color: rgba(163, 167, 255, 0.3);
    padding-top: 30px;
    padding-bottom: 30px;

}

.footer-link {
    /* Стили для футера */
    font-weight: 400;
font-size: 14px;
color: #2965f1;
text-decoration: none;
}